/* General Settings */
html {
  margin: 0;
  padding: 0;
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f5f0fd;
  margin: 0;
  padding: 0;
  width: 100%;
}

p {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #61099c;
}

/* Layout */
.container {
  width: 100%;
  position: relative;
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  /* grid-template-columns: repeat(3,1fr); */
  grid-gap: 20px;
  grid-template-areas:
    "hd"
    "main"
    "ft";
}

/* Header */
.header {
  grid-area: hd;
  padding: 0 1em;
  border-bottom: 1px solid gray;
  height: 4em;
}

.blog-title {
  color: rgb(102, 3, 168);
  font-size: 1.2em;
  text-align: center;
}

.nav {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  min-width: 20px;
  max-width: 50px;
}

.subscribe {
  color: #61099c;
  text-decoration: none;
  padding: 0.4em;
  box-shadow: 3px 4px 2px 0 rgba(47, 0, 59, 0.289);
  border-radius: 5px;
  background-color: #dfccfa;
}

/* Footer */
.footer {
  grid-area: ft;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40%;
  padding: 1em 0;
  position: absolute;
  bottom: -30px;
  background-color: #dfccfa;
}

.footer a {
  font-size: 25px;
  margin: 0 20px;
}

.footer a:hover {
  font-size: 30px;
  color: #d8b4fd;
}

/* Main */
.main {
  grid-area: main;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(200px, auto);
  padding: 2em;
}

/* Card */
.card {
  position: relative;
  border-radius: 10px;
  padding: 10px;
  width: 97%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: auto;
  box-shadow: 4px 4px 2px 0 rgba(47, 0, 59, 0.289),
    2px 2px 2px 04px rgba(47, 0, 59, 0.289);
}

.card:hover {
  border: #d8b4fd 2px solid;
}

.card-tag {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #d8b4fd;
  color: rgb(75, 33, 116);
  font-size: 0.9em;
  padding: 0.2em 0.5em;
  border-radius: 5px;
}

.card-img {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

.img {
  width: 100%;
}

.card-details {
  display: flex;
  flex-direction: column;
}

.card-title {
  color: rgb(102, 3, 168);
  font-weight: bold;
  font-size: 1.5em;
  margin: 5px;
  font-family: "Playpen Sans", cursive;
}

.card-date {
  font-weight: 100;
  color: rgb(75, 33, 116);
  font-size: 0.99em;
  margin: 0 10px;
}

.card-description {
  margin: 10px;
  padding: 0 0 1em 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-read {
  margin: 10px;
  color: #61099c;
  text-decoration: none;
  justify-self: center;
  width: fit-content;
  padding: 0.4em;
  box-shadow: 3px 4px 2px 0 rgba(47, 0, 59, 0.289);
  border-radius: 5px;
  background-color: #dfccfa;
}

.btn-read:hover,
.subscribe:hover {
  background-color: #61099c;
  font-weight: bold;
  color: #dfccfa;
}

/* Media query for tablets (screen width between 601 and 1024 pixels) */
@media (min-width: 601px) and (max-width: 1024px) {
  /* Your CSS styles for tablets here */
  .container {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-template-areas:
      "hd hd hd"
      "main main main"
      "ft ft ft";
  }

  .blog-title {
    font-size: 1.5em;
  }

  .main {
    grid-area: main;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(200px, auto);
    padding: 2em;
  }
}

/* Media query for laptops (screen width between 1025 and 1440 pixels) */
@media (min-width: 1025px) and (max-width: 1440px) {
  /* Your CSS styles for laptops here */
  .container {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-template-areas:
      "hd hd hd"
      "main main main"
      "ft ft ft";
  }

  .main {
    grid-area: main;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(200px, auto);
    padding: 2em;
  }
}

/* Media query for large screens (screen width greater than 1440 pixels) */
@media (min-width: 1441px) {
  /* Your CSS styles for large screens here */
  .container {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-template-areas:
      "hd hd hd"
      "main main main"
      "ft ft ft";
  }

  .main {
    grid-area: main;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(200px, auto);
    padding: 2em;
  }

  .blog-title {
    font-size: 2em;
  }
}
